  
.yellowpom {
  color: var(--yellow);
  font-size: 20rem;
  rotate: -90deg;
  position: fixed;
  margin-top: 10rem;
  font-family: var(--heading-font);
  z-index: 0;
}
main {
  margin-top: 2rem;
  z-index: 1;
  color: var(--blue);
}
.wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

.pinkcase {
  border: solid 4px var(--pink);
}
.greencase {
  border: solid 4px var(--green);
}
.jeu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin:10px 0 0 0;
  padding: 10px;
  border-radius: 20px;
}
