html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100wh;
    background-color: #feeb25;
    color: #282e69;
}

img {
    width: 40%;
}

strong {
    color: #de3377;
}
