html {
  height: 100vh;
  width: 100vw;
}
body,
.home,
.home-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}
body {
  background-color: white;
}
.home {
  margin: 0;
}
span,
body,
.home,
.home-image {
  position: fixed;
}
.pink {
  color: var(--pink);
  z-index: 1;
  margin-top: 2rem;
  font-size: 5rem;
  line-height: 80%;
}

.yellow {
  color: var(--yellow);
  font-size: 7rem;
  font-family: var(--heading-font);
  z-index: 0;
  line-height: 80%;
  margin-top: 1rem;
}

.green {
  color: var(--green);
  z-index: 3;
  font-size: 3rem;
  margin-top: 8rem;
  line-height: 80%;
}

.home-image {
  margin-top: 9rem;
  width: 90%;
}

.pink,
.yellow,
.green {
  mix-blend-mode: multiply;
}
.greenback,
.pinkback {
  padding: 20px;
  margin: 5px;
  border-radius: 20px;
  width: 90%;
  text-decoration: none;
}
.playlist {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 20px;
  margin-top: 5px;
}
.greenback,
.playlist {
  border: solid 5px var(--green);
}
.pinkback {
  border: solid 5px var(--pink);
}
.home-menu {
  margin-top: 11rem;
}
#non {
  display: none;
}

@media screen and (min-width: 440px) {

.home {
  display: none;
}

#non {
  display: block;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blue);
  flex-direction: column;
}
#non img {
  width: 300px;
}
#non div {
  border: solid 3px var(--blue);
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
}
#non div p {
  font-size: xx-large;
}
}