.quizz-main,
.players {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answers,
.players {
  background-color: var(--pink);
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  width: 90vw;
}

.answers h2 {
  font-size: 1.125rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answers h2 span {
  position: static;
}

.answers h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.players h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

#list {
  width: 100%;
}

.answer,
.player,
#add {
  background-color: var(--white);
  margin: 10px;
  padding: 10px;
  width: 90%;
  border: none;
  color: var(--blue);
  border-radius: 10px;
  font-size: 1rem;
}

.answer,
#play,
#add,
.button-answer {
  cursor: pointer;
}

#play,
.button-answer {
  padding: 20px;
  background-color: var(--green);
  border: none;
  border-radius: 20px;
  color: var(--blue);
}

.paragraph-answer {
  margin-bottom: 1rem;
}

#play:disabled {
  cursor: not-allowed;
  filter: grayscale(90%);
}

.none {
  display: none;
}

.block {
  display: block;
}
